RECO_HIT
# first event to be processed, number of events to process  
EVENTS  -1 -1
HIT_ALGORITHM 1 AlgoMultiHit  
#   parameters for multihit algo 
#        	relTh1	relTh2 	absTh1 abs_Th2 dt(us) padLeft padRight  //
PARAMETER1        2.5      2.5    9999    9999    3.0   10      10 
PARAMETER2   100. 4.0 0.5 -0.1 5 10       //ROI
END_ALGORITHM
HIT_ALGORITHM  0 AlgoTDeconHit  
#        	relTh1	relTh2 	absTh1 abs_Th2 dt(us) padLeft padRight  //
PARAMETER1        2.5      2.5    9999    9999    3.0   10      10
PARAMETER2    20. 4.0 0.5 -0.1 5 10    //ROI 
PARAMETER3    1.0   //hitTh (fC)
END_ALGORITHM
END_RECO_HIT   
#
RECO_CLUSTERING 
END_CLUSTERING
#
RECO_TRACKING 
END_TRACKING 
