DETECTOR WA105_3x1x1
RAWDATATYPE USHORT  1   # FLOAT or USHORT, quantize 0 - no, 1 - yes
ELECMODEL ETHZ 5 0.0 12 2.5  # ped and ped rms (ADC), max bits, sampling rate
SAVEVOXELINFO 1
#!!!NOTE!!!: RAWDATATYPE and ELECMODEL must be defined before CRMs

# description of CRMs:id x y z gain pitchx pitchy nchx nchy nsample
CRM 0  0.0  0.0  50  100.0 300.0 10.0 0.3125 0.3125 320 960 1667

# NOISE CAPA 0 0.094 0  

