# start value + number of events to process
# -1 -1 --> process all
EVENTS -1 -1

RECO_HIT 
BEGIN_ALGORITHM 1 AlgoMultiHit  
#   parameters for multihit algo
# enable using calibration info: ch masks, pedestals, calibrations 
PARA_CALI [1, 1, 0]
#       relTh1	relTh2 	absTh1 abs_Th2 dt(us) padLeft padRight  //
PARA_ROI [20., 4.0, 0.5, -0.1, 5, 10]       //ROI
PARA_HIT [2.5, 2.5, 9999, 9999, 3.0, 10, 10] 
END_ALGORITHM

# time deconvolution
BEGIN_ALGORITHM 0 AlgoTDeconHit  
PARA_ROI  [20., 4.0, 0.5, -0.1, 5, 10]    //ROI 
PARA_HIT  [1.0]   //hitTh (fC)
END_ALGORITHM

END_HIT   
#
RECO_CLUSTER
END_CLUSTER
#
RECO_CRTRACK
BEGIN_ALGORITHM 1 AlgoMultiCRTrack
PARA_CLUS [30] # min number of hits in cluster
# PARA_TRKBUILD : very simple track builder suitable for only single tracks in a cluster
PARA_TRKBUILD [0, 5, 0.3, 0.0, 0.2, 1] # smoother function, max ch gap, max hist dist, smoother "bass", smoother span, smooth result
# PARA_TRKBUILD [1, 5, 0.3, 8.0, 0.0, 1]
# ---------------------------------------------------
# PARA_CRTRKVETO : defines a cylindrical veto region for CR track reconstruction (e.g., beam event region)
#  - Vertex X in cm
#  - Vertex Y in cm
#  - Vertex Z in cm
#  - Radius of cylinder in cm
#  - Length of cylinder in cm
#  - Angle of cylinder in rad with respect to horizontal (azimuthal angle is always 45deg)
# Example: electron entering at the corner and Z = 250. with downward angle of 0.122 degrees
# 4 x Rm ~ 4 x 9 cm, 20 x X0 = 20 x 14.0 cm
# PARA_CRTRKVETO [-301.0, -301.0, 250.0, 36.0, 280.0, 0.122173] 
# ---------------------------------------------------
# PARA_TRKMTC: tries to resolve multiple tracks overlapping in a single cluster (if enabled is default)
#  - uncertainty on hit position along the drift in cm
#  - distance to search for hits in cm
#  - chi2 cut to add new hits to trajectory
#  - particle momentum guess in GeV/c to give some intial handle on MS
#  - momentum cut for delta ray tagging in GeV/c
#  - max number of channels to skip before giving up
#  - max separation distance for merging overlapping trajectories in cm
#  - max separation distance for merging non-overlapping trajectories in cm
#  - number of std on slope error to look for collinear tracks
#  - max distance to try to associate missing hits in cm
#PARA_TRKMTC [0.06, 5.0, 10.0, 1.0, 0.05, 5, 0.5, 5.0, 3.0, 3.0]
# Parameter for joining tracks between 3x3m2 modules in 6x6x6
#  - max distance in cm between endpoints
#  - number of std on slope error to look for collinear tracks
#PARA_TRKJOIN [5.0, 3.0]  
# ----------------------------------------------------
END_ALGORITHM
END_CRTRACK 
